<div class="wrapper" style="text-align:center">

<center>

<table style="width: 730px;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top; text-align: center;"></td>
<td style="width: 190px;" align="center" valign="top"><img style="width: 96px; height: 96px;" alt="Windows" src="styles/_portal_common/imageset/DL_Icons_Windows-new.png"></td>
<td style="width: 190px;" align="center" valign="top"><img style="width: 96px; height: 96px;" alt="Linux" src="styles/_portal_common/imageset/DL_Icons_Linux-new.png"></td>
<td style="width: 190px;" align="center" valign="top"><img style="width: 96px; height: 96px;" alt="OS X" src="styles/_portal_common/imageset/DL_Icons_Apple-new.png"></td>
</tr>
<tr>
<td style="height: 20px; font-weight: bold;" align="center" valign="top"><big>Client</big></td>
<td style="width: 190px; height: 20px;" align="center" valign="top"><big><strong><a href="https://github.com/classic-fortress/client-installer-win32/raw/master/Binaries/cfortress.exe">Download
Client Package</a></strong></big></td>
<td style="width: 190px; height: 20px;" align="center" valign="top"><big><strong><a href="https://github.com/classic-fortress/client-installer-linux/raw/master/install_cfortress.sh">Download
Client Package</a></strong></big></td>
<td style="width: 190px; height: 20px; font-weight: bold;" align="center" valign="top"><big>Coming Soon</big></td>
</tr>
<tr>
<td style="height: 127px;" align="center" valign="top"></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"><em style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;"><small>Note:
Since this is an online installer, Windows might classify it as
malicious. To bypass this, you need to click "More info" followed by
"Run anyway" (Windows 8)</small>.</em></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"></td>
</tr>
<tr>
<td style="height: 20px; font-weight: bold;" align="center" valign="top"><big>Server</big></td>
<td style="width: 190px; height: 20px;" align="center" valign="top"><big><strong><a href="https://github.com/Classic-Fortress/server-installer-win32/raw/master/Binaries/cfortsv.exe">Download
Server Package</a></strong></big></td>
<td style="width: 190px; height: 20px;" align="center" valign="top"><big><strong><a href="https://raw.githubusercontent.com/classic-fortress/server-installer-linux/master/install_cfortsv.sh">Download
Server Package</a></strong></big></td>
<td style="width: 190px; height: 20px;" align="center" valign="top"><big><span style="font-weight: bold;">Coming Soon</span></big></td>
</tr>
<tr>
<td style="height: 127px;" align="center" valign="top"></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"><em style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;"><small>Note:
Don't forget to chmod +x before running the installation script</small>.</em></td>
<td style="width: 190px; height: 127px;" align="center" valign="top"></td>
</tr>
</tbody>
</table>

</center>

</div>