header {

  .class {
    position: absolute;
    filter: saturate(0.5);
    opacity: 0.8;

    &.hover {
      filter: saturate(2);
    }

    &.class__def {
//      opacity: 0.8;
    }
    
    /* Classes */
    
    &.class__medic {
      left: 5px;
      bottom: 10px;
      z-index: 2;
    }
    
    &.class__demoman {
      left: 90px;
      bottom: 35px;
      z-index: 1;
    }

    &.class__soldier {
      left: 137px;
      bottom: 5px;
      z-index: 3;
    }
    
    &.class__hwguy {
      left: 218px;
      bottom: 35px;
      z-index: 2;
    }

    &.class__sniper {
      left: 311px;
      bottom: 61px;
    }
    
    &.class__scout {
      left: 346px;
      bottom: 10px;
      z-index: 2;
    }

    &.class__engineer {
      left: 425px;
      bottom: 35px;
      z-index: 1;
    }

    &.class__pyroman {
      left: 490px;
      bottom: 25px;
      z-index: 2;
    }

    &.class__spy {
      left: 549px;
      bottom: 0px;
      z-index: 3;
    }

    &.class__sentry {
      left: 470px;
      bottom: 241px;
    }

    &.class__dispenser {
      left: 220px;
      bottom: 242px;
    }

    transition: all 300ms;
  }

  .transparentmapper {
    position: absolute;
    z-index: 999;
    left: 0;
  }

}