<!-- IF STARGATE -->
	<!-- INCLUDE overall_header.html -->

	<!-- IF PAGE == 'map' -->
		<!-- INCLUDE wrappers/map.html -->
	<!-- ENDIF -->

	<!-- IF PAGE == 'video' -->
		<!-- INCLUDE wrappers/video.html -->
	<!-- ENDIF -->
	
	<!-- IF PAGE == 'getstart' -->
		<!-- INCLUDE wrappers/getstart.html -->
	<!-- ENDIF -->
	
	<!-- IF PAGE == 'chat' -->
		<!-- INCLUDE wrappers/chat.html -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
		<!-- INCLUDE blocks/block_birthday.html -->
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->